# Binaries
logstack
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Logs
logs/
*.jsonl

# Dependency directories
vendor/

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
logstack-linux-amd64
